.As{
  background-color: #FFBD00;
  background: linear-gradient(#FFDE80, orange);
}
.Am{
  background-color: #FFDE80;
  background: linear-gradient(to top, #FFDE80, orange)
}
.Al{
  background-color: #FFDE80;
  background: linear-gradient(#FFDE80, orange)
}
.Top{
  background-size: 100%;
  background: linear-gradient(to top, #FFDE80, orange);
  height: 100px;
}
body{
  background-color: orange;
}
table{
  border-spacing: 350px 50px;
}
h2{
  margin: 0;
  color: #006F63;
}
p{
  margin: 0;
  color: #00BEAA;
}
h1{
  color: #004E46;
}
